
@{
    ViewData["Title"] = "Tools";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
@*ファイルをドラックで持ってこれるようにするjs*@
<script type="text/javascript" src="~/js/droppable.js" asp-append-version="true"></script>

<div class="title">
    <h1>@ViewData["Title"]</h1>
    <h2>@ViewData["Message"]</h2>
</div>

<div class="main-Contents">
    <p>※1行目の1列目をテーブル名、2行目を列名、3行目以降を値として扱います。空白行を挟むと別のテーブルも同時に変換できます。</p>

    <div class="input">
        <form asp-action="SplitCSV">
            <input type="text" id="droppable" name="droppable" value="" placeholder="ファイルをドロップしてください。" style="border: gray solid 1em; padding: 2em; width:100%;">
            <input type="submit" value="送信">
        </form>
    </div>

    <div class="output">
        <div class="outputfiles">
            @{
                var y = ViewBag.List as List<string>;
                foreach (var x in y)
                {
                    @x
                    <br>
                }
            }
        </div>
        <button id="download-zip">Download on Zip</button>
    </div>
</div>

