@{
    ViewData["Title"] = "Tools";
}


<div class="title">
    <h1>@ViewData["Title"]</h1>
    <h2>@ViewData["Message"]</h2>
</div>

<div class="main-Contents">
    <p>※とりあえずCSVを3分割してくれるみたいだよ。</p>
    <p>※ファイルが大きすぎると分割できないよ、致命的だね。</p>

    <div class="input">
        <form asp-action="SplitCSV">
            <input type="text" id="droppable" name="droppable" value="" placeholder="ファイルをドロップしてください。" style="border: gray solid 1em; padding: 2em; width:100%;">
            <input type="submit" value="分割生成">
        </form>
    </div>

    <div class="output">
        <div class="outputfiles">
            @{
                var y = ViewBag.List as List<string>;
                int i = 0;
                foreach (var x in y)
                {
                    if(y.Count() / 3 == i)
                    {
                        i = 0;
                        <br>
                    }
                    @x
                    <br>
                    i++;
                }
            }
        </div>
        <button class="downloadBtn" id="/Download">Download on Zip</button>
    </div>

    @*とりあえずajax*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    @*ファイルをドラックで持ってこれるようにするjs*@
    <script type="text/javascript" src="~/js/droppable.js" asp-append-version="true"></script>
    @*パラメータ付けるイメージで書いたjs*@
    <script type="text/javascript" src="~/js/addParameter.js" asp-append-version="true"></script>
</div>
